Novice/Novice/bin/*
Novice/Novice/obj/*
Novice/NoviceConsole/bin/*
Novice/NoviceConsole/obj/*
Novice/JintLibrary/bin/*
Novice/JintLibrary/obj/*
/Tests.SpecFlow/.vs/Tests.SpecFlow/v15
/Novice/.vs/Novice/v15
/Core.Webservice.OData/.vs/Core.Webservice.OData/v15
/Tests.SpecFlow/Tests.SpecFlow/obj/Debug
/Core.Webservice.OData/Core.Webservice.OData/obj
/.vs
/Tests.SpecFlow/TestingLibrary/bin/Debug/netstandard2.0
/Tests.SpecFlow/TestingLibrary/obj
/Tests.SpecFlow/TestResults
/Tests.SpecFlow/Tests.SpecFlow/bin/Debug
/WWF.Console.Example/.vs/WWF.Console.Example/v15
/Novice/OData/obj/Debug
/Encrypting/Encoding/.vs/Encoding/v15
